<!-- HORARIO TARDE -->
<ul class="mdl-list pull-left">
  <li class="mdl-list__item">
    <span class="text-color--gray">TARDE</span>
  </li>

  <% @horario_tarde.each do |ht| %>
  <li class="mdl-list__item">
    <%= form_tag reservar_path, remote: true, method: :post do %>
    <input type="hidden" name="id" value=<%= @cancha.id %> >
    <input type="hidden" name="horario_id" value=<%= ht.id %>>
      <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange"
          onclick="return confirm('Quiere reservar esta cancha？')"
        <%= disabled_item(ht.reservado?) %>>
        <i class="material-icons">create</i>
        <%= ht.hora %>
      </button>
    <% end %>
  </li>
  <% end %>
</ul>
