<div class="mdl-grid ui-tables">

  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">Mis Canchas</h1>
      </div>
      <div class="mdl-card__supporting-text no-padding">
        <div class="mdl-card__actions">
          <%=  link_to new_comercio_path, class:'mdl-button mdl-js-button mdl-js-ripple-effect mdl-shadow--8dp mdl-button--colored' do %>
          NUEVO COMERCIO
          <i class="material-icons mdl-js-ripple-effect">add</i>
          <% end %>
        </div>
        <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">#</th>
              <th class="mdl-data-table__cell--non-numeric">NOMBRE</th>
              <th class="mdl-data-table__cell--non-numeric">CIUDAD</th>
              <th class="mdl-data-table__cell--non-numeric">CANCHAS</th>
              <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
          </thead>
          <tbody>
            <% @comercios.each.with_index do |comercio, index| %>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <%= index + 1 %>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <%= comercio.nombre %>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <%= comercio.ciudad.name %>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <span class="label label--mini mdl-color--orange-400 mdl-color-text--black">
                  <%= contar_canchas(comercio) %>
                </span>
              </td>
              <td>
                <%= link_to edit_comercio_path(comercio), {title:'Editar Comercio',class:"mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-teal"} do %>
                <i class="material-icons">create</i>
                <% end %>
              </td>
              <td>
                <%= link_to new_cancha_path(:comercio_id => comercio.id),
                title: 'Agregar cancha',
                class:"mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-teal" do %>
                <i class="material-icons">fiber_new</i>
                <% end %>
              </td>
              <td>
                <%= link_to  comercio, method: :delete, data: { confirm: 'Estas seguro?' }, title:'Eliminar Comercio' do %>
                <i class="material-icons">delete</i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>


  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">Mis Comercios</h1>
      </div>
      <div class="mdl-card__supporting-text no-padding">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp projects-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">#</th>
              <th class="mdl-data-table__cell--non-numeric">NOMBRE</th>
              <th class="mdl-data-table__cell--non-numeric">CIUDAD</th>
              <th class="mdl-data-table__cell--non-numeric">CANCHAS</th>
              <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
          </thead>
          <tbody>
            <% @comercios.each.with_index do |comercio, index| %>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <%= index + 1 %>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <%= comercio.nombre %>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <%= comercio.ciudad.name %>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <span class="label label--mini mdl-color--orange-400 mdl-color-text--black">
                  <%= contar_canchas(comercio) %>
                </span>
              </td>
              <td>
                <%= link_to edit_comercio_path(comercio), {title:'Editar Comercio',class:"mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-teal"} do %>
                <i class="material-icons">create</i>
                <% end %>
              </td>
              <td>
                <%= link_to new_cancha_path(:comercio_id => comercio.id),
                title: 'Agregar cancha',
                class:"mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--colored-teal" do %>
                <i class="material-icons">fiber_new</i>
                <% end %>
              </td>
              <td>
                <%= link_to  comercio, method: :delete, data: { confirm: 'Estas seguro?' }, title:'Eliminar Comercio' do %>
                <i class="material-icons">delete</i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
